<mat-toolbar style="display: flex;">
  <mat-icon style="margin-right: 8px">class</mat-icon>
  <span>Super Form Infini</span>
  <span style="flex: 1 1 auto;"></span>
</mat-toolbar>

<h1>Formulaire qui sert à rien</h1>
<mat-card style="width: 700px; margin: auto; padding: 20px;">
  <form [formGroup]="FormGroup">

    <mat-form-field style="width: 100%">
      <mat-label>Nom</mat-label>
      <input matInput formControlName = "name"  type="text" placeholder="Nom et prénom" name="name" >

      <mat-error *ngIf="FormGroup.get('name')?.hasError('required')">
        Votre nom est <strong>requis</strong>
      </mat-error>

    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Numéro de rue</mat-label>
      <input matInput formControlName = "roadnumber"  type="number" placeholder="5230" name="roadnumber">
      <mat-error  *ngIf="FormGroup.get('roadnumber')?.hasError('required')">
        Votre nom est <strong>requis</strong>
      </mat-error>
      <mat-error  *ngIf="FormGroup.get('roadnumber')?.hasError('min')">
        Le nombre doit etre 	Entre 1000 et 9999
      </mat-error>
      <mat-error  *ngIf="FormGroup.get('roadnumber')?.hasError('max')">
        Le nombre doit etre 	Entre 1000 et 9999
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Rue</mat-label>
      <input matInput formControlName="rue" type="text" placeholder="Resther" name="rue">
      <mat-error *ngIf="FormGroup.get('rue')?.hasError('required')">
        Votre nom est <strong>requis</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Code Postal</mat-label>
      <input matInput formControlName="postalcode"  type="text" placeholder="H2J8B2" name="postalcode">
      <mat-error *ngIf="FormGroup.get('postalcode')?.hasError('required')">
        Votre nom est <strong>requis</strong>
      </mat-error>
      <mat-error *ngIf="FormGroup.get('postalcode')?.hasError('pattern')">
       vous devez ecrire de cette maniere P2U 3Q4
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <mat-label>Commentaire</mat-label>
      <textarea matInput formControlName = "comments" placeholder="Votre commentaire" name="comments"></textarea>
      <mat-error *ngIf="FormGroup.get('comments')?.hasError('required')">
        Votre nom est <strong>requis</strong>
      </mat-error>
      <mat-error *ngIf="FormGroup.get('comments')?.hasError('Coms')">
        le commentaire doit contenir au minimum 10 mot
      </mat-error>
      <mat-error *ngIf="FormGroup.get('comments')?.hasError('name')">
        un commentaire ne doit pas contenir le nom
      </mat-error>
    </mat-form-field>

    <mat-card-actions align="end">
      <button   mat-raised-button color="primary" [disabled]="!FormGroup.valid" >Acheter</button>
    </mat-card-actions>
  </form>
</mat-card>
